<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="4" android:versionName="4.0" package="com.companyname.proiectip" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="31" />
	<application android:label="ProiectIP.Android" android:theme="@style/MainTheme" android:icon="@mipmap/icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.USE_FINGERPRINT" />
</manifest>